@model IEnumerable<Club.Models.ACTIVIDAD>
@using GridMvc.Html
@{
    ViewBag.Title = "Index";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Actividades</h1>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<section class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title"> Lista de Actividades</h3>
                            <div class="card-tools">@Html.ActionLink("Nuevo", "Edit", null, new { @class = "btn btn-block btn-success btn-xs" })</div>
                        </div>
                        @Html.Grid(Model).Named("Lista de Actividades").Columns(
                        c =>
                        {
                            c.Add(x => x.FECHA_INICIO).Titled("Desde").Filterable(true).Sortable(true);
                            c.Add(x => x.FECHA_FIN).Titled("Hasta").Filterable(true).Sortable(true);
                            c.Add(x => x.ESTADO).Titled("Estado").Filterable(true).Sortable(true);
                            c.Add(x => x.descripcion).Titled("Descripcion").Filterable(true).Sortable(true);
                            c.Add(x => x.PROFESOR.APELLIDO).Titled("Profesor").Filterable(true).Sortable(true);
                     
                            c.Add()
                            .Encoded(false)
                            .Sanitized(false)
                            .SetWidth(30)
                            .RenderValueAs(x => Html.ActionLink("Edit", "Edit", new { id = x.ID_ACTIVIDAD }, new { @class = "btn btn-primary" }));


                             }).WithPaging(5).EmptyText("No data found")
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>





