USE [CLUB]
GO
/****** Object:  Table [dbo].[SOCIO]    Script Date: 21/7/2020 21:01:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SOCIO](
	[ID_SOCIO] [nvarchar](128) NOT NULL,
	[DNI] [varchar](15) NOT NULL,
	[NOMBRE] [varchar](255) NOT NULL,
	[APELLIDO] [varchar](255) NOT NULL,
	[ESTADO] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_SOCIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ACTIVIDAD_TIPO]    Script Date: 21/7/2020 21:01:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACTIVIDAD_TIPO](
	[ID_ACTIVIDAD_TIPO] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPCION] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_ACTIVIDAD_TIPO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INSCRIPCION_SOCIO]    Script Date: 21/7/2020 21:01:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INSCRIPCION_SOCIO](
	[ID_SOCIO] [nvarchar](128) NULL,
	[ID_ACTIVIDAD] [int] NOT NULL,
	[FECHA_INSCRIPCION] [datetime] NOT NULL,
	[FECHA_BAJA] [datetime] NULL,
	[ESTADO] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROFESOR]    Script Date: 21/7/2020 21:01:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROFESOR](
	[ID_PROFESOR] [bigint] IDENTITY(1,1) NOT NULL,
	[DNI] [varchar](15) NOT NULL,
	[NOMBRE] [varchar](255) NOT NULL,
	[APELLIDO] [varchar](255) NOT NULL,
	[TELEFONO] [varchar](70) NULL,
	[EMAIL] [varchar](255) NOT NULL,
	[ESTADO] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_PROFESOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ACTIVIDAD]    Script Date: 21/7/2020 21:01:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACTIVIDAD](
	[ID_ACTIVIDAD] [int] IDENTITY(1,1) NOT NULL,
	[ID_PROFESOR] [bigint] NOT NULL,
	[ID_ACTIVIDAD_TIPO] [int] NOT NULL,
	[FECHA_INICIO] [datetime] NOT NULL,
	[FECHA_FIN] [datetime] NOT NULL,
	[ESTADO] [bit] NOT NULL,
	[descripcion] [varchar](128) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_ACTIVIDAD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[SV_USER_INSCRIPCION]    Script Date: 21/7/2020 21:01:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[SV_USER_INSCRIPCION]
AS
SELECT A.ID_ACTIVIDAD
,A.FECHA_INICIO
,A.FECHA_FIN
,A.ESTADO AS 'ESTADO_ACTIVIDAD'
,A.DESCRIPCION AS 'ACTIVIDAD DESCRIPCION'
,A_TIPO.DESCRIPCION
,P.NOMBRE+', '+P.APELLIDO AS 'NOMBRE COMPLETO'
,P.ESTADO
,INS.ID_SOCIO 
,INS.ESTADO AS 'ESTADO_INSCRIPCION'
, S.ESTADO AS 'ESTADO_SOCIO'
FROM ACTIVIDAD AS A

INNER JOIN ACTIVIDAD_TIPO A_TIPO ON A_TIPO.ID_ACTIVIDAD_TIPO = A.ID_ACTIVIDAD_TIPO
INNER JOIN PROFESOR P ON P.ID_PROFESOR = A.ID_PROFESOR
INNER JOIN INSCRIPCION_SOCIO AS INS ON INS.ID_ACTIVIDAD = A.ID_ACTIVIDAD
INNER JOIN SOCIO AS S ON S.ID_SOCIO = INS.ID_SOCIO
GO
/****** Object:  View [dbo].[SV_ACTIVIDAD]    Script Date: 21/7/2020 21:01:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE view [dbo].[SV_ACTIVIDAD]
AS
SELECT A.ID_ACTIVIDAD,A.FECHA_INICIO,A.FECHA_FIN,A.ESTADO,A.DESCRIPCION AS 'ACTIVIDAD DESCRIPCION', A_TIPO.DESCRIPCION,P.NOMBRE+', '+P.APELLIDO AS 'NOMBRE COMPLETO',p.ESTADO as'ESTADO_PROFESOR' FROM ACTIVIDAD AS A
INNER JOIN ACTIVIDAD_TIPO A_TIPO ON A_TIPO.ID_ACTIVIDAD_TIPO = A.ID_ACTIVIDAD_TIPO
INNER JOIN PROFESOR P ON P.ID_PROFESOR = A.ID_PROFESOR
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 21/7/2020 21:01:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 21/7/2020 21:01:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
	[Discriminator] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 21/7/2020 21:01:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 21/7/2020 21:01:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 21/7/2020 21:01:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 21/7/2020 21:01:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HORARIO]    Script Date: 21/7/2020 21:01:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HORARIO](
	[ID_HORARIO] [bigint] IDENTITY(1,1) NOT NULL,
	[ID_ACTIVIDAD] [int] NOT NULL,
	[ID_LOCACION] [int] NOT NULL,
	[HORA_INICIO] [datetime] NOT NULL,
	[HORA_FIN] [datetime] NOT NULL,
	[DIA] [smallint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_HORARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOCACION]    Script Date: 21/7/2020 21:01:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOCACION](
	[ID_LOCACION] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPCION] [varchar](40) NOT NULL,
	[ID_TIPO_ACTIVIDAD] [int] NOT NULL,
	[ESTADO] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_LOCACION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ACTIVIDAD] ON 

INSERT [dbo].[ACTIVIDAD] ([ID_ACTIVIDAD], [ID_PROFESOR], [ID_ACTIVIDAD_TIPO], [FECHA_INICIO], [FECHA_FIN], [ESTADO], [descripcion]) VALUES (4, 1, 3, CAST(N'2020-08-29T00:00:00.000' AS DateTime), CAST(N'2021-06-03T00:00:00.000' AS DateTime), 1, N'Football Amateur')
INSERT [dbo].[ACTIVIDAD] ([ID_ACTIVIDAD], [ID_PROFESOR], [ID_ACTIVIDAD_TIPO], [FECHA_INICIO], [FECHA_FIN], [ESTADO], [descripcion]) VALUES (6, 1, 3, CAST(N'2020-10-01T00:00:00.000' AS DateTime), CAST(N'2021-04-30T00:00:00.000' AS DateTime), 1, N'Football sub 20')
INSERT [dbo].[ACTIVIDAD] ([ID_ACTIVIDAD], [ID_PROFESOR], [ID_ACTIVIDAD_TIPO], [FECHA_INICIO], [FECHA_FIN], [ESTADO], [descripcion]) VALUES (7, 4, 1, CAST(N'2020-07-01T00:00:00.000' AS DateTime), CAST(N'2020-07-31T00:00:00.000' AS DateTime), 1, N'Tennis Senior')
SET IDENTITY_INSERT [dbo].[ACTIVIDAD] OFF
GO
SET IDENTITY_INSERT [dbo].[ACTIVIDAD_TIPO] ON 

INSERT [dbo].[ACTIVIDAD_TIPO] ([ID_ACTIVIDAD_TIPO], [DESCRIPCION]) VALUES (3, N'Football')
INSERT [dbo].[ACTIVIDAD_TIPO] ([ID_ACTIVIDAD_TIPO], [DESCRIPCION]) VALUES (5, N'Sala')
INSERT [dbo].[ACTIVIDAD_TIPO] ([ID_ACTIVIDAD_TIPO], [DESCRIPCION]) VALUES (1, N'Tennis')
SET IDENTITY_INSERT [dbo].[ACTIVIDAD_TIPO] OFF
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name], [Discriminator]) VALUES (N'07d03213-209b-4b9e-b6bd-31448e78848b', N'Socio', N'ApplicationRole')
INSERT [dbo].[AspNetRoles] ([Id], [Name], [Discriminator]) VALUES (N'a857a5de-4f55-4325-814d-8c6d0b73e4fa', N'Admin', N'ApplicationRole')
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'08fe7e9a-d2d7-468b-babf-edc241c280d4', N'07d03213-209b-4b9e-b6bd-31448e78848b')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'58d60640-7cae-4f39-8f53-13fda4721377', N'07d03213-209b-4b9e-b6bd-31448e78848b')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'75d604c5-369d-46bf-920f-8ef5a9c2f4c2', N'07d03213-209b-4b9e-b6bd-31448e78848b')
GO
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'08fe7e9a-d2d7-468b-babf-edc241c280d4', N'Hugo@gmail.com', 0, N'AJNaYhq8FIQy/YavirX2vucCCb+rUtqV01Dj3QakIFqCzwMlbSv0VbxRX44Rlzi8Kg==', N'80982f69-c06e-4363-8164-032425fb4043', NULL, 0, 0, NULL, 1, 0, N'Hugo@gmail.com')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'58d60640-7cae-4f39-8f53-13fda4721377', N'ManuelRodrigo@gmail.com', 0, N'AClf5P4q2logcKUC4aEZ8bRdtO9x2PtpFtlZf60qE/1qnHLKbz04SyZi/B42KzF4yA==', N'e03ce7ea-94cc-48be-a2b6-49e3f9fd107f', NULL, 0, 0, NULL, 1, 0, N'ManuelRodrigo@gmail.com')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'636c8728-9630-45ed-a5b9-d1b37de39dce', N'francisco.crespo@axsis.com.ar', 0, N'AFBkAw1a0yl8zBTKFsfHU3aJSfdtSOeLZl7x4RB0/S0Tf3f9AEdp+L1oT1JqtLATXg==', N'90e93334-2099-4c31-9676-8c519ac98258', NULL, 0, 0, NULL, 1, 0, N'francisco.crespo@axsis.com.ar')
GO
SET IDENTITY_INSERT [dbo].[HORARIO] ON 

INSERT [dbo].[HORARIO] ([ID_HORARIO], [ID_ACTIVIDAD], [ID_LOCACION], [HORA_INICIO], [HORA_FIN], [DIA]) VALUES (23, 4, 1, CAST(N'2020-07-14T17:00:00.000' AS DateTime), CAST(N'2020-07-14T18:00:00.000' AS DateTime), 2)
INSERT [dbo].[HORARIO] ([ID_HORARIO], [ID_ACTIVIDAD], [ID_LOCACION], [HORA_INICIO], [HORA_FIN], [DIA]) VALUES (24, 4, 1, CAST(N'2020-07-14T17:00:00.000' AS DateTime), CAST(N'2020-07-14T18:00:00.000' AS DateTime), 3)
INSERT [dbo].[HORARIO] ([ID_HORARIO], [ID_ACTIVIDAD], [ID_LOCACION], [HORA_INICIO], [HORA_FIN], [DIA]) VALUES (25, 4, 2, CAST(N'2020-07-14T17:00:00.000' AS DateTime), CAST(N'2020-07-14T18:00:00.000' AS DateTime), 6)
SET IDENTITY_INSERT [dbo].[HORARIO] OFF
GO
INSERT [dbo].[INSCRIPCION_SOCIO] ([ID_SOCIO], [ID_ACTIVIDAD], [FECHA_INSCRIPCION], [FECHA_BAJA], [ESTADO]) VALUES (N'81c8ced8-6046-4db5-a7d3-4d4613ef7109', 4, CAST(N'2020-01-01T00:00:00.000' AS DateTime), NULL, 1)
INSERT [dbo].[INSCRIPCION_SOCIO] ([ID_SOCIO], [ID_ACTIVIDAD], [FECHA_INSCRIPCION], [FECHA_BAJA], [ESTADO]) VALUES (N'636c8728-9630-45ed-a5b9-d1b37de39dce', 4, CAST(N'2020-07-18T18:12:58.347' AS DateTime), CAST(N'2020-07-20T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[INSCRIPCION_SOCIO] ([ID_SOCIO], [ID_ACTIVIDAD], [FECHA_INSCRIPCION], [FECHA_BAJA], [ESTADO]) VALUES (N'636c8728-9630-45ed-a5b9-d1b37de39dce', 8, CAST(N'2020-07-18T18:14:11.267' AS DateTime), CAST(N'2020-07-20T00:00:00.000' AS DateTime), 0)
GO
SET IDENTITY_INSERT [dbo].[LOCACION] ON 

INSERT [dbo].[LOCACION] ([ID_LOCACION], [DESCRIPCION], [ID_TIPO_ACTIVIDAD], [ESTADO]) VALUES (1, N'Cancha 1', 3, 1)
INSERT [dbo].[LOCACION] ([ID_LOCACION], [DESCRIPCION], [ID_TIPO_ACTIVIDAD], [ESTADO]) VALUES (2, N'Cancha 2', 3, 1)
INSERT [dbo].[LOCACION] ([ID_LOCACION], [DESCRIPCION], [ID_TIPO_ACTIVIDAD], [ESTADO]) VALUES (3, N'Cancha 3', 3, 1)
SET IDENTITY_INSERT [dbo].[LOCACION] OFF
GO
SET IDENTITY_INSERT [dbo].[PROFESOR] ON 

INSERT [dbo].[PROFESOR] ([ID_PROFESOR], [DNI], [NOMBRE], [APELLIDO], [TELEFONO], [EMAIL], [ESTADO]) VALUES (1, N'2266335533', N'Juan Martin', N'Sonfonson', N'47905017', N'juanmartin@gmail.com', 0)
INSERT [dbo].[PROFESOR] ([ID_PROFESOR], [DNI], [NOMBRE], [APELLIDO], [TELEFONO], [EMAIL], [ESTADO]) VALUES (2, N'2232255222', N'Daniel Joaquin', N'Estaban Sastre', N'1124445522', N'Danielesteba@gmail.com', 1)
INSERT [dbo].[PROFESOR] ([ID_PROFESOR], [DNI], [NOMBRE], [APELLIDO], [TELEFONO], [EMAIL], [ESTADO]) VALUES (3, N'321321321', N'Daniel ', N'Parz', N'11244455', N'Danielognm@gmail.com', 1)
SET IDENTITY_INSERT [dbo].[PROFESOR] OFF
GO
INSERT [dbo].[SOCIO] ([ID_SOCIO], [DNI], [NOMBRE], [APELLIDO], [ESTADO]) VALUES (N'08fe7e9a-d2d7-468b-babf-edc241c280d4', N'10222333', N'Hugo', N'Gajardo', 1)
INSERT [dbo].[SOCIO] ([ID_SOCIO], [DNI], [NOMBRE], [APELLIDO], [ESTADO]) VALUES (N'636c8728-9630-45ed-a5b9-d1b37de39dce', N'32036612', N'Francisco José', N'Crespo', 1)
INSERT [dbo].[SOCIO] ([ID_SOCIO], [DNI], [NOMBRE], [APELLIDO], [ESTADO]) VALUES (N'75d604c5-369d-46bf-920f-8ef5a9c2f4c2', N'36222545', N'Lucia', N'Supervielle', 1)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_descripcion]    Script Date: 21/7/2020 21:01:15 ******/
ALTER TABLE [dbo].[ACTIVIDAD] ADD  CONSTRAINT [UQ_descripcion] UNIQUE NONCLUSTERED 
(
	[descripcion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__ACTIVIDA__794449EFBB1A60AD]    Script Date: 21/7/2020 21:01:15 ******/
ALTER TABLE [dbo].[ACTIVIDAD_TIPO] ADD UNIQUE NONCLUSTERED 
(
	[DESCRIPCION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 21/7/2020 21:01:15 ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 21/7/2020 21:01:15 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 21/7/2020 21:01:15 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_RoleId]    Script Date: 21/7/2020 21:01:15 ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 21/7/2020 21:01:15 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 21/7/2020 21:01:15 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [uq_locaciondescripcionidtipo]    Script Date: 21/7/2020 21:01:15 ******/
ALTER TABLE [dbo].[LOCACION] ADD  CONSTRAINT [uq_locaciondescripcionidtipo] UNIQUE NONCLUSTERED 
(
	[DESCRIPCION] ASC,
	[ID_TIPO_ACTIVIDAD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UC_DNI]    Script Date: 21/7/2020 21:01:15 ******/
ALTER TABLE [dbo].[SOCIO] ADD  CONSTRAINT [UC_DNI] UNIQUE NONCLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ACTIVIDAD] ADD  DEFAULT ((1)) FOR [ESTADO]
GO
ALTER TABLE [dbo].[AspNetRoles] ADD  DEFAULT ('') FOR [Discriminator]
GO
ALTER TABLE [dbo].[INSCRIPCION_SOCIO] ADD  DEFAULT ((1)) FOR [ESTADO]
GO
ALTER TABLE [dbo].[LOCACION] ADD  DEFAULT ((1)) FOR [ESTADO]
GO
ALTER TABLE [dbo].[PROFESOR] ADD  DEFAULT ((1)) FOR [ESTADO]
GO
ALTER TABLE [dbo].[SOCIO] ADD  DEFAULT ((1)) FOR [ESTADO]
GO
ALTER TABLE [dbo].[ACTIVIDAD]  WITH CHECK ADD FOREIGN KEY([ID_ACTIVIDAD_TIPO])
REFERENCES [dbo].[ACTIVIDAD_TIPO] ([ID_ACTIVIDAD_TIPO])
GO
ALTER TABLE [dbo].[ACTIVIDAD]  WITH CHECK ADD FOREIGN KEY([ID_PROFESOR])
REFERENCES [dbo].[PROFESOR] ([ID_PROFESOR])
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[HORARIO]  WITH CHECK ADD FOREIGN KEY([ID_ACTIVIDAD])
REFERENCES [dbo].[ACTIVIDAD] ([ID_ACTIVIDAD])
GO
ALTER TABLE [dbo].[HORARIO]  WITH CHECK ADD FOREIGN KEY([ID_LOCACION])
REFERENCES [dbo].[LOCACION] ([ID_LOCACION])
GO
ALTER TABLE [dbo].[INSCRIPCION_SOCIO]  WITH CHECK ADD FOREIGN KEY([ID_ACTIVIDAD])
REFERENCES [dbo].[ACTIVIDAD] ([ID_ACTIVIDAD])
GO
ALTER TABLE [dbo].[INSCRIPCION_SOCIO]  WITH CHECK ADD FOREIGN KEY([ID_SOCIO])
REFERENCES [dbo].[SOCIO] ([ID_SOCIO])
GO
ALTER TABLE [dbo].[LOCACION]  WITH CHECK ADD FOREIGN KEY([ID_TIPO_ACTIVIDAD])
REFERENCES [dbo].[ACTIVIDAD_TIPO] ([ID_ACTIVIDAD_TIPO])
GO
ALTER TABLE [dbo].[SOCIO]  WITH CHECK ADD FOREIGN KEY([ID_SOCIO])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_USER_INSCRIPCION]    Script Date: 21/7/2020 21:01:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[SP_GET_USER_INSCRIPCION]
	@ID_SOCIO NVARCHAR(128)
		
as
begin
    SELECT 
	*
	FROM SV_USER_INSCRIPCION AS A 
	
	WHERE A.ID_SOCIO = @ID_SOCIO
	RETURN 
END
GO
/****** Object:  StoredProcedure [dbo].[SP_INSCRIPCION]    Script Date: 21/7/2020 21:01:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[SP_INSCRIPCION]
	@ID_SOCIO NVARCHAR(128),
	@ID_ACTIVIDAD INT,
	@FECHA_INSCRIPCION DATETIME
	
	
as
begin
	IF NOT EXISTS(SELECT I.ID_SOCIO, I.ID_ACTIVIDAD FROM INSCRIPCION_SOCIO AS I
	WHERE ID_SOCIO = @ID_SOCIO AND ID_ACTIVIDAD = @ID_ACTIVIDAD
	)
	BEGIN
		INSERT INTO INSCRIPCION_SOCIO(ID_SOCIO,ID_ACTIVIDAD,FECHA_INSCRIPCION) VALUES(@ID_SOCIO,@ID_ACTIVIDAD,@FECHA_INSCRIPCION)
	END
ELSE
	BEGIN
		UPDATE INSCRIPCION_SOCIO SET ESTADO = 1 WHERE ID_SOCIO = @ID_SOCIO AND ID_ACTIVIDAD = @ID_ACTIVIDAD
	END	   	 
END
GO
/****** Object:  StoredProcedure [dbo].[SP_INSCRIPCION_BAJA]    Script Date: 21/7/2020 21:01:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE procedure [dbo].[SP_INSCRIPCION_BAJA]
	@ID_SOCIO NVARCHAR(128),
	@ID_ACTIVIDAD INT,
	@FECHA_INSCRIPCION DATETIME
	
	
as
begin

		BEGIN TRY
			UPDATE INSCRIPCION_SOCIO SET ESTADO = 0,FECHA_BAJA = @FECHA_INSCRIPCION WHERE ID_SOCIO =@ID_SOCIO  AND ID_ACTIVIDAD = @ID_ACTIVIDAD
		END TRY
		BEGIN CATCH
			RAISERROR('No existe la incripcion que se quiere dar de baja',16,1)
		END CATCH
END
GO
